*~
*#
.#*
Makefile.in
Makefile
configure
config.h
config.log
config.status
autom4te.cache/*
*.gmo
tmp/*
ube-*.tar.gz
po/Makevars.template
po/POTFILES
*.o
src/client/.deps/*
src/engine/.deps/*
src/*.a
src/client/ube
stamp-h1
